apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: kube-system
spec:
  type: ExternalName
  externalName: api-service.insightlearn.svc.cluster.local
  ports:
  - port: 80
    targetPort: 80
    name: http
  - port: 443
    targetPort: 443
    name: https
---
apiVersion: v1
kind: Service
metadata:
  name: insightlearn-wasm-blazor-webassembly
  namespace: kube-system
spec:
  type: ExternalName
  externalName: insightlearn-wasm-blazor-webassembly.insightlearn.svc.cluster.local
  ports:
  - port: 80
    targetPort: 80
    name: http
