openapi: 3.0.3
info:
  title: InsightLearn LMS API
  description: |
    Complete API documentation for InsightLearn Learning Management System.

    ## Authentication
    Most endpoints require JWT Bearer token authentication.
    Include the token in the Authorization header: `Authorization: Bearer <token>`

    ## Base URL
    - Production: `https://wasm.insightlearn.cloud/api`
    - Development: `http://localhost:8081/api`

    ## Rate Limiting
    Rate limits apply per user/IP address.

  version: 1.4.22-dev
  contact:
    name: InsightLearn Support
    email: marcello.pasqui@gmail.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://wasm.insightlearn.cloud/api
    description: Production server
  - url: http://localhost:8081/api
    description: Local development

tags:
  - name: Auth
    description: Authentication and user registration
  - name: Users
    description: User management operations
  - name: Courses
    description: Course management and discovery
  - name: Categories
    description: Course category management
  - name: Enrollments
    description: Course enrollment operations
  - name: Reviews
    description: Course reviews and ratings
  - name: Payments
    description: Payment and checkout operations
  - name: Dashboard
    description: Dashboard statistics and activity
  - name: Chat
    description: AI Chatbot interactions

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login or /auth/register

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        status:
          type: integer
          description: HTTP status code
        timestamp:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: admin@insightlearn.cloud
        password:
          type: string
          format: password
          example: Admin123!

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: Refresh token for obtaining new access tokens
        user:
          $ref: '#/components/schemas/User'

    RegisterRequest:
      type: object
      required:
        - email
        - password
        - firstName
        - lastName
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        phoneNumber:
          type: string
          nullable: true

    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [Student, Instructor, Admin]
        createdAt:
          type: string
          format: date-time

    Course:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        instructorId:
          type: integer
        categoryId:
          type: integer
        price:
          type: number
          format: decimal
        level:
          type: string
          enum: [Beginner, Intermediate, Advanced]
        createdAt:
          type: string
          format: date-time

    ChatMessage:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: User message to the chatbot
        contactEmail:
          type: string
          format: email
          nullable: true
        sessionId:
          type: string
          nullable: true

    ChatResponse:
      type: object
      properties:
        response:
          type: string
          description: AI chatbot response
        sessionId:
          type: string
        timestamp:
          type: string
          format: date-time

paths:
  # ==================== Auth Endpoints ====================
  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      description: Authenticate user and obtain JWT tokens
      operationId: authLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/register:
    post:
      tags: [Auth]
      summary: User registration
      description: Create new user account
      operationId: authRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Validation error
        '409':
          description: Email already exists

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user info
      description: Retrieve authenticated user information
      operationId: authMe
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: Get new access token using refresh token
      operationId: authRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: New token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  refreshToken:
                    type: string

  /auth/complete-registration:
    post:
      tags: [Auth]
      summary: Complete registration process
      description: Finalize user registration with additional details
      operationId: authCompleteRegistration
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Registration completed

  /auth/oauth-callback:
    post:
      tags: [Auth]
      summary: OAuth callback handler
      description: Handle OAuth provider callbacks (Google, etc.)
      operationId: authOAuthCallback
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                code:
                  type: string
      responses:
        '200':
          description: OAuth authentication successful

  # ==================== Chat Endpoints ====================
  /chat/message:
    post:
      tags: [Chat]
      summary: Send message to chatbot
      description: Send message to AI chatbot (powered by Ollama phi3:mini)
      operationId: chatSendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
            example:
              message: "What courses do you offer?"
              contactEmail: "user@example.com"
      responses:
        '200':
          description: Chatbot response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '400':
          description: Invalid request

  /chat/history:
    get:
      tags: [Chat]
      summary: Get chat history
      description: Retrieve previous chat messages for a session
      operationId: chatGetHistory
      parameters:
        - name: sessionId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Chat history retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    message:
                      type: string
                    response:
                      type: string
                    timestamp:
                      type: string
                      format: date-time

  # ==================== Courses Endpoints ====================
  /courses:
    get:
      tags: [Courses]
      summary: Get all courses
      description: Retrieve list of all available courses
      operationId: coursesGetAll
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Courses retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

    post:
      tags: [Courses]
      summary: Create new course
      description: Create a new course (Instructor/Admin only)
      operationId: coursesCreate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '201':
          description: Course created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient permissions

  /courses/{id}:
    get:
      tags: [Courses]
      summary: Get course by ID
      operationId: coursesGetById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '404':
          description: Course not found

    put:
      tags: [Courses]
      summary: Update course
      operationId: coursesUpdate
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '200':
          description: Course updated
        '404':
          description: Course not found

    delete:
      tags: [Courses]
      summary: Delete course
      operationId: coursesDelete
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Course deleted
        '404':
          description: Course not found

  /courses/search:
    get:
      tags: [Courses]
      summary: Search courses
      operationId: coursesSearch
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: integer
        - name: level
          in: query
          schema:
            type: string
            enum: [Beginner, Intermediate, Advanced]
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

  /courses/category/{categoryId}:
    get:
      tags: [Courses]
      summary: Get courses by category
      operationId: coursesGetByCategory
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Courses in category
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

  # ==================== Categories Endpoints ====================
  /categories:
    get:
      tags: [Categories]
      summary: Get all categories
      operationId: categoriesGetAll
      responses:
        '200':
          description: Categories list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string

    post:
      tags: [Categories]
      summary: Create category
      operationId: categoriesCreate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Category created

  /categories/{id}:
    get:
      tags: [Categories]
      summary: Get category by ID
      operationId: categoriesGetById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Category details

    put:
      tags: [Categories]
      summary: Update category
      operationId: categoriesUpdate
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Category updated

    delete:
      tags: [Categories]
      summary: Delete category
      operationId: categoriesDelete
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Category deleted

  # ==================== Users Endpoints ====================
  /users:
    get:
      tags: [Users]
      summary: Get all users
      operationId: usersGetAll
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /users/{id}:
    get:
      tags: [Users]
      summary: Get user by ID
      operationId: usersGetById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User details

    put:
      tags: [Users]
      summary: Update user
      operationId: usersUpdate
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User updated

    delete:
      tags: [Users]
      summary: Delete user
      operationId: usersDelete
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: User deleted

  /users/profile:
    get:
      tags: [Users]
      summary: Get current user profile
      operationId: usersGetProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ==================== Enrollments Endpoints ====================
  /enrollments:
    get:
      tags: [Enrollments]
      summary: Get all enrollments
      operationId: enrollmentsGetAll
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Enrollments list

    post:
      tags: [Enrollments]
      summary: Create enrollment
      operationId: enrollmentsCreate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                courseId:
                  type: integer
      responses:
        '201':
          description: Enrollment created

  /enrollments/{id}:
    get:
      tags: [Enrollments]
      summary: Get enrollment by ID
      operationId: enrollmentsGetById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Enrollment details

  /enrollments/user/{userId}:
    get:
      tags: [Enrollments]
      summary: Get user enrollments
      operationId: enrollmentsGetByUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User enrollments

  /enrollments/course/{courseId}:
    get:
      tags: [Enrollments]
      summary: Get course enrollments
      operationId: enrollmentsGetByCourse
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Course enrollments

  # ==================== Reviews Endpoints ====================
  /reviews:
    get:
      tags: [Reviews]
      summary: Get all reviews
      operationId: reviewsGetAll
      responses:
        '200':
          description: Reviews list

    post:
      tags: [Reviews]
      summary: Create review
      operationId: reviewsCreate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                courseId:
                  type: integer
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        '201':
          description: Review created

  /reviews/{id}:
    get:
      tags: [Reviews]
      summary: Get review by ID
      operationId: reviewsGetById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Review details

  /reviews/course/{courseId}:
    get:
      tags: [Reviews]
      summary: Get course reviews
      operationId: reviewsGetByCourse
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Course reviews

  # ==================== Payments Endpoints ====================
  /payments/create-checkout:
    post:
      tags: [Payments]
      summary: Create checkout session
      operationId: paymentsCreateCheckout
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                courseId:
                  type: integer
                amount:
                  type: number
      responses:
        '200':
          description: Checkout session created

  /payments/transactions:
    get:
      tags: [Payments]
      summary: Get all transactions
      operationId: paymentsGetTransactions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Transactions list

  /payments/transactions/{id}:
    get:
      tags: [Payments]
      summary: Get transaction by ID
      operationId: paymentsGetTransactionById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Transaction details

  # ==================== Dashboard Endpoints ====================
  /dashboard/stats:
    get:
      tags: [Dashboard]
      summary: Get dashboard statistics
      operationId: dashboardGetStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCourses:
                    type: integer
                  totalStudents:
                    type: integer
                  totalEnrollments:
                    type: integer
                  revenue:
                    type: number

  /dashboard/recent-activity:
    get:
      tags: [Dashboard]
      summary: Get recent activity
      operationId: dashboardGetRecentActivity
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Recent activity feed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    description:
                      type: string
                    timestamp:
                      type: string
                      format: date-time
